<div class="container" *ngIf="keg">
  <div class="row">
    <h1>{{keg.rwbId}}</h1>
  </div>
  <div class="row">
    <h2>{{keg.factorySerial}}</h2>
  </div>
  <div class="row">
    <div class="col-2">
      Purchase date:
    </div>
    <div class="col-10">
      {{keg.datePurchased | date}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Wash History</h3>
    </div>
  </div>
  <div class="row">
    <table class="table table-sm col-4">
      <thead>
        <th>Date</th>
        <th>Chemical</th>
      </thead>
      <tbody>
        <tr *ngFor="let wash of keg.washHistory">
          <td>{{wash.date | date}}</td>
          <td>{{wash.chemicals}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Sani History</h3>
    </div>
  </div>
  <div class="row">
    <table class="table table-sm col-4">
      <thead>
        <th>Date</th>
        <th>Chemical</th>
      </thead>
      <tbody>
        <tr *ngFor="let sani of keg.saniHistory">
          <td>{{sani.date | date}}</td>
          <td>{{sani.chemicals}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Sale History</h3>
    </div>
  </div>
  <div class="row">
    <table class="table table-sm col-4">
      <thead>
        <th>Date</th>
        <th>Customer</th>
        <th>Beer</th>
      </thead>
      <tbody>
        <tr *ngFor="let sale of keg.saleHistory">
          <td>{{sale.date | date}}</td>
          <td>{{sale.customer}}</td>
          <td>{{sale.beer}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>