<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/img/malt.png" class="logo">
      </a>
      <span class="navbar-brand">Twilight of the Grain Gods</span>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['brew-days']">Brew Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['recipes']">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['inventory']">Inventory</a>
      </li>
      <li class="nav-item">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            Create <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/brew-days/create']">Brew Day Log</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['nowhere']">Recipe</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['nowhere']">Mash Profile</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" >Jawn</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>