/* Coolors Exported Palette - coolors.co/002642-840032-e59500-e5dada-02040f */

/* HSL */
$color1: hsla(205%, 100%, 13%, 1);
$color2: hsla(337%, 100%, 26%, 1);
$color3: hsla(39%, 100%, 45%, 1);
$color4: hsla(0%, 17%, 88%, 1);
$color5: hsla(231%, 76%, 3%, 1);

/* RGB */
$color1: rgba(0, 38, 66, 1);
$color2: rgba(132, 0, 50, 1);
$color3: rgba(229, 149, 0, 1);
$color4: rgba(229, 218, 218, 1);
$color5: rgba(2, 4, 15, 1);